<div class="container-fluid">
  <div class="text-center"> Choose TextFile</div>
  <div class="row">
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="measure-body text-right">
        10 STEPS TO MEASURE YOUR BODY
      </div>
      <div class="box-image-container">
        <div class="box-image">
          <div class="image_collar"></div>
          <div class="collar_title">1. COLLAR</div>
          <div class="collar_description text-break">About this fabric here.....
            lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
          </div>
          <div class="collar-info">
            <span class="collar-info__text">Write down your measure here</span>
            <input type="text"/>
            <span> lbs/in</span>
            <span> kg/cm</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="measure-body text-left">
        10 STEPS TO MEASURE YOUR BODY
      </div>
      <div class="box-image-container">
        <div class="box-image">
          <div class="image_collar"></div>
          <div class="collar_title">1. COLLAR</div>
          <div class="collar_description text-break">About this fabric here.....
            lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
          </div>
          <div class="collar-info">
            <span class="collar-info__text">Write down your measure here</span>
            <input type="text"/>
            <span> lbs/in</span>
            <span> kg/cm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="choose-collar text-center"> CHOSE COLLAR</div>
  <div class="row">
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
  </div>
  <div class="choose-cuffs text-center"> CHOSE CUFFS</div>
  <div class="row">
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <div class="box-container">
        <div class="image">
          <img src="../assets/images/e604fde8366b7734a48fd0f5420ca2ac%201.png"/>
        </div>
        <div class="color d-flex pt-2">
          <div class="color-box pr-3"></div>
          <div class="my-auto pl-2">WHITE</div>
        </div>
        <div class="text-description text-break pl-2 pr-3">
          About this fabric here.....
          lknaskfnalskfalskfmaklsmfklsfmaslkfmaslkfmaslkfmaslkmclsakmslakmfalksmflasmfalksmfalsk
        </div>
        <div class="price pt-3">
          Price: USD 100.00
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-image">
  <div class="text-title-form text-center">TAILOR YOUR SHIRT</div>
  <div class="box-form col-xl-6 col-md-6 col-12">
    <div class="question">HOW DO YOU WANT YOUR SHIRT?</div>

    <div class="row box-form-slim">
      <div class="col-4">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super"> Slim fit</label>
      </div>
      <div class="col-4">
        <label>MY WEIGHT</label>
        <input type="text" placeholder="kg"/>
      </div>
      <div class="col-4">
        <label>MY HEIGHT </label>
        <input type="text" placeholder="cm"/>
      </div>
    </div>

    <div class="row box-form-modern pt-5">
      <div class="col-4">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super"> Slim fit</label>
      </div>
      <div class="col-4">
        <label>MY WEIGHT</label>
        <input type="text" placeholder="kg"/>
      </div>
      <div class="col-4">
        <label>MY HEIGHT </label>
        <input type="text" placeholder="cm"/>
      </div>
    </div>

    <div class="comment-area pt-5">
      <div class="comment-title">COMMENTS</div>
      <textarea rows="4" placeholder="  Type here..."></textarea>
    </div>

    <div class="row box-form-modern pt-4">
      <div class="col-12">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super pl-5"> POCKET (USD 10)</label>
      </div>
    </div>

    <div class="row box-form-modern pt-4">
      <div class="col-12">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super pl-5"> EMBROID LOGO / NAME / INITIALS (USD 19)</label>
      </div>
    </div>

    <div class="pt-4">
      <textarea rows="3"
                placeholder="  Type your name/initials (on the right cuff) or choose logo on next step"></textarea>
    </div>

    <div class="row box-form-slim">
      <div class="col-4">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super"> Regular</label>
      </div>
      <div class="col-4">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super"> Italic</label>
      </div>
      <div class="col-4">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label class="align-super"> Bold</label>
      </div>
    </div>

    <div class="pt-5">
      <input type="file" />
    </div>

  </div>
</div>
<div>
  <button class="btn-checkout">CHECK OUT</button>
</div>
